.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.star-firstName {
  color: #ff007f;
} 
.star-lastName {
  animation: flash 0.2s linear infinite;
  }
  @keyframes flash {
    from {color: black}
    to {color: #0339f8}
  }
  
  @keyframes blinker {
    50%{
      opacity: 0;
    }
  }

.star-img {
  background-color: peachpuff;
  animation: blinker 2s linear infinite
}
